* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #777;
  color: #fff;
  font-family: Arial;
}
header, hgroup, h1, h2, nav, section, article, aside, footer {
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

section, aside {
  display: inline-block;
  vertical-align: top;
}
section {
  width: 60%;
}
aside {
  width: 30%;
  float: right;
  height: 185px;
}